	{% extends "master.html" %}
	{% load custom_filters %}
	{% load static %}

	{% block back %}
	<a href="#" onclick="history.back();" class="btn btn-outline-light ml-2">Back</a>
	{% endblock %}

	{% block content %}

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<div class="container" id="ctnr">
		{% if post.state == 'Solved'%}
		<h3 class="text-center mt-3 text-dark font-italic">This discussion has been resolved and replies are now closed.</h3>
		{% endif %}
		<div class="col-12 row justify-content-center mx-0 px-0">
			<div class="card" id="userCard2">
				<div class="card-body py-1 px-1 text-dark">
					<img src="../{{ post.author.avatar }}" alt="user image" width="40px" height="40px">
					<strong class="mr-2">{{ post.author }}</strong> - <span class="text-secondary font-italic mr-2">{{ post.author.grade }}<span>
				</div>
			</div>
			<div class="col-xs-3 card post-container py-0 mx-0 px-0" id="userCard" style="width: 10rem;">
				<img class="card-img-top" src="../{{ post.author.avatar }}" alt="Card image cap">
				<div class="card-body">
					<p class="card-text text-center" style="color: black"><strong>{{ post.author }}</strong><br>-<br>
						<span class="text-secondary font-italic mr-2">{{ post.author.grade }}<span>
					</p>
				</div>
			</div>
			<div class="col-xs-9 col-lg-8 post-container mx-2 px-4 d-flex flex-column">
				<div class="post-meta">Published on {{ post.pub_date }}</div>
				<!-- Trash icon container -->
				{% if user_authenticated %}
				{% if post.author.id == profile.id %}
				<span data-toggle="tooltip" data-placement="top" title="Delete the post">
				<button class="trash-btn position-absolute mt-2 mr-2" data-toggle="modal" data-target="#exampleModalCenter3">
					<i class="fas fa-trash trash-icon"></i>
				</button>
			</span>
				{% endif %}
				{% endif %}
				<!-- Post Title -->
				<h1 class="post-title overflow-ellipsis">{{ post.title }}</h1>
				<!-- Post Metadata -->
				<!-- Post Content -->
				<div class="post-content mb-4 reply-content">
					{{ post.content | safe }}
				</div>
				<div class="mt-auto text-muted lks likes-updated">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter2">{{ post.total_likes }} Likes </a>•
					<span>{{ post.views }} Views {% if post.last_modify %}<small class="text-muted my-1 font-italic"> • edited {{ post.last_modify|custom_timesince }} </small>{% endif %}</span>
				</div>
				{% if user_authenticated %}
				{% if post.state == 'Open' %}
				<div class="mt-auto text-muted lks position-absolute bottom-0 end-0 pstRplButtons">
					<a href="#userRpl" onclick="reply('post', {{ post.id }})">Reply</a> <span class="text-muted mx-1">|</span>
				</div>
				{% endif %}
				{% if liked_by_user %}
				<i class="fas fa-thumbs-up" style="position: absolute; bottom: 0; right: 0; color: #007bff;"></i>
				{% else %}
				<a class="far fa-thumbs-up" style="position: absolute; bottom: 0; right: 0; color: lightgrey" href="" id="like-btn" data-post-id="{{ post.id }}" data-toggle="popover" data-placement="top" data-content="Like the post!"></a>
				{% endif %}
				{% endif %}
			</div>	
		</div>

	{% if replies.count == 0 %}
	<div class="row justify-content-center" id="noRpl">
		{% if user_authenticated %}
		<h2 class="text-muted font-italic my-5 px-5">No replies yet. Be the first to reply!</h2>
		{% else %}
		<h2 class="text-muted font-italic my-5 px-5">No replies yet. Sign in and be the first to reply!</h2>
	</div>
	{% endif %}
	{% else %}
	<h2 class="comments-title text-center">Replies</h2>
	{% for reply in replies %}
	{% if reply.content != '[deleted]' %}
	<div class="col-12 row justify-content-center mx-0 px-0">
		<div class="card" id="userCard2">
			<div class="card-body py-1 px-1 text-dark">
				<img src="../{{ reply.author.avatar }}" alt="user image" width="40px" height="40px">
				<strong class="mr-2">{{ reply.author }}</strong> - <span class="text-secondary font-italic mr-2">
					{{ reply.author.grade }}<span>
			</div>
		</div>
		<div class="card post-container py-0 mx-0 px-0" id="userCard" style="width: 10rem;">
			<img class="card-img-top" src="../{{ reply.author.avatar }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text text-center" style="color: black"><strong>{{ reply.author }}</strong><br>-<br><span
						class="text-secondary font-italic mr-2">{{ reply.author.grade }}<span></p>
			</div>
		</div>
		<div class="col-lg-8 post-container px-4 mx-2 {% if not reply.resolutive %} border-left border-dark {% endif %} d-flex flex-column" {% if reply.resolutive %} style="border: 2px solid green;" {% endif %}>
		{% if user_authenticated %}
		{% if reply.author.id == profile.id %}
		<span data-toggle="tooltip" data-placement="top" title="Delete the reply">
		<button class="trash-btn position-absolute mt-2 mr-2" data-toggle="modal" data-target="#examppleModalCenter4" data-reply-id="{{ reply.id }}">
			<i class="fas fa-trash trash-icon"></i>
		</button>
		</span>
		{% endif %}
		{% endif %}
		<div id="solution" class="px-1 py-1">
			{% if post.state == 'Open' %}
			<button class="btn btn-success btn-sm solvedBtn" id="solvedBtn{{ reply.id }}" data-toggle="popover" title="Mark as Solution" data-content="This action will mark the post as solved and close it." onclick="resolve('{{ post.id }}', '{{ reply.id }}')">
				<i class="fas fa-check toSolve"></i>
			</button>
			{% else %}
				{% if reply.resolutive %}
				<button class="btn btn-success btn-sm solved" id="solvedBtn{{ reply.id }}" data-toggle="popover" title="Marked as Solution" data-content="This reply has been marked as solution." disabled style="background-color: green;">
					<i class="fas fa-check"></i>
				</button>
				{% endif %}
			{% endif %}
		</div>
			<div class="comment-meta mb-3">Published on {{ reply.reply_date }}</div>
			<!-- Main body of the reply -->
			{% if reply.has_quote %}
			<div class="bg-light border-left border-dark mb-3 py-3 px-3 text-dark">
				To <b>{{ reply.reply_to_reply.author }}</b><br><br>
				{% if reply.reply_to_reply.content == '[deleted]' %}
				<div class="reply-content font-italic text-muted">This reply has been deleted.</div>
				{% else %}
				<div class="reply-content">{{ reply.has_quote }}</div>
				{% endif %}
			</div>
			{% else %}
				{% if reply.reply_to_reply != None %}
				<div class="bg-light border-left border-dark mb-3 py-3 px-3 text-dark">
					To <b>{{ reply.reply_to_reply.author }}</b><br><br>
					{% if reply.reply_to_reply.content == '[deleted]' %}
					<div class="reply-content font-italic text-muted">This reply has been deleted.</div>
					{% else %}
					<div class="reply-content">{{ reply.reply_to_reply.content }}</div>
					{% endif %}
				</div>
				{% endif %}
			{% endif %}
			<div class="comment-list border-top">
				<div class="comment-item">
					<div class="reply-content mt-3 {% if post.state == 'Open' %} quoteArea {% endif %}" data-reply-id="{{ reply.id }}" data-reply-author="{{ reply.author | escapejs }}">{{ reply.content | linebreaks }}</div>
				</div>
			</div>
			<div class="mt-auto text-muted lks lksToTarget">
				<a href="#" data-toggle="modal" data-target="#exampleModalCenter{{ reply.id }}" id="rplLikes">{{ reply.likes }} Likes</a>
			</div>
			{% if user_authenticated %}
			{% if post.state == 'Open' %}
			<div class="mt-auto text-muted lks position-absolute bottom-0 end-0 mr-4">
				<a href="#userRpl" onclick="reply('reply', {{ reply.id }}, '{{ reply.content|escapejs }}', '{{ reply.author|escapejs }}')">Reply</a> 
				<span class="text-muted mx-1">|</span>	
			</div>
			{% endif %}
				{% if replies_liked_by_user|get_liked_status:reply.id %}
				<i class="fas fa-thumbs-up" style="position: absolute; bottom: -1px; right: -4px; color: #007bff;"></i>
				{% else %}
				<a class="far fa-thumbs-up reply-like-btn" style="position: absolute; bottom: -1px; right: -4px; color: lightgrey" href="" data-reply-id="{{ reply.id }}" data-toggle="popover" data-placement="top" data-content="Like the reply!"></a>
				{% endif %}
			{% endif %}
		</div>

		<!-- Modal to display user's like in Replies -->
		{% for reply in replies %}
		<div class="modal fade" id="exampleModalCenter{{ reply.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Likes</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul>
							{% if users_who_liked_replies|get_item:reply.id %}
								{% for user in users_who_liked_replies|get_item:reply.id %}
								<li><a href="#">{{ user.user.username }}</a></li>
								{% endfor %}
							{% else %}
							<li>No users liked this reply.</li>
							{% endif %}
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}

	<!-- Reply of the user -->
	{% if user_authenticated %}
	{% if replies.count == 0 %}
	<div class="col-12 row justify-content-center mx-0 px-3" id="userRpl">
	{% else %}
	<div class="col-12 row justify-content-center mx-0 px-0" id="userRpl">
	{% endif %}
		<!-- Profile image for smaller screens -->
		<div class="card" id="userCard2">
			<div class="card-body py-1 px-1 text-dark">
				<img src="../{{ profile.avatar }}" alt="user image" width="40px" height="40px">
				<strong class="mr-2">{{ profile.user.username }}</strong> - <span
					class="text-secondary font-italic mr-2">
					{{ profile.grade }}<span>
			</div>
		</div>
		<!-- Profile image for wider screens -->
		<div class="card post-container py-0 mr-2 ml-0 px-0" id="userCard" style="width: 10rem;">
			<img class="card-img-top" src="../{{ profile.avatar }}" alt="Card image cap">
			<div class="card-body">
				<p class="card-text text-center" style="color: black"><strong>{{ profile.user.username }}</strong><br>-<br>
					<span class="text-secondary font-italic mr-2">{{ profile.grade }}<span>
				</p>
			</div>
		</div>
		<!-- The post to be replied -->
		<!-- Main body of the reply -->
		<div class="col-lg-8 post-container mx-0 px-4 d-flex flex-column" id="content1">
			<div class="row">
			<span id="is_post" style="width: 100%;">
				<div style="width: 100%;">
					{% if post.content|wordcount > 80 %}
					<div class="col-md-12 bg-light border-left border-dark mb-0 py-3 px-3 text-dark" id="replyPst1">
						<span>To <span class="reply-content"><b>{{ post.author }}</b><br><br>
						{{ post.content|truncatewords:80 }}</span>
						</span>
					</div>
					<div class="col-md-12 bg-light border-left border-dark mb-0 py-3 px-3 text-dark reply-content" id="replyPst2">
						<span>To <b>{{ post.author }}</b><br><br>
						{{ post.content }}</span>
					</div>
					<button class="col-md-12 mb-4" style="border: 0.5px solid black;" id="expandButton1" onclick="expand()">
						&#129131
					</button>
					<button class="col-md-12 mb-4" style="border: 0.5px solid black" id="expandButton2" onclick="expand()">
						&#129129
					</button>
					{% else %}
					<div class="col-md-12 bg-light border-left border-dark mb-5 mx-0 py-3 px-3 text-dark reply-content" id="replyPst">
						To <b>{{ post.author }}</b><br><br>
						{{ post.content }}
					</div>
					{% endif %}
				</div>
			</div>
			</span>
			<span id="is_reply">
				<div class="col-md-12 bg-light border-left border-dark mb-5 mx-0 py-3 px-3 text-dark reply-content" id="replyPst">
					To <b id="replyTo"></b><br><br>
					<span id="replyContent"></span>
				</div>
			</span>
			<form action="{% url 'submit_reply' %}" method="POST">
				<div class="row">
					<input type="hidden" name="entity_type" id="entityType">
					<input type="hidden" name="entity_id" id="entityId">
					<input type="hidden" name="post_id" value="{{ post.id }}">
					<input type="hidden" name="reply_quote" id="quote">
					{% csrf_token %}
					<textarea class="form-control" id="replyTextArea" rows="3" name="reply"
						placeholder="Write your reply..."></textarea>
					<button type="submit" class="btn btn-primary my-2" id="publishReplyBtn">Publish Reply</button>
					<span class="btn btn-secondary my-2 mx-2" id="publishReplyBtn1" onclick="undo()">Cancel</span>
				</div>
			</form>
		</div>
	</div>
	{% endif %}

</div>
<!-- Modal to display user's like in Posts -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Likes</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					{% if user_who_liked %}
						{% for user in user_who_liked %}
						<li><a href="#">{{ user }}</a></li>
						{% endfor%}
					{% else %}
					<li>No users liked this post.</li>
					{% endif %}
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

	<!-- Modal to display user's like in Replies -->
	<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Likes</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul>
						<!-- TO DO -->
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<!-- Modal to delete post -->
	<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-dark">
			<h5 class="modal-title" id="exampleModalLongTitle">Confirm Deletion</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body text-dark">
				Are you sure you want to delete this post? This action cannot be undone.
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
			<form action="{% url 'delete_topic' id=post.id %}" method="POST">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
			</div>
		</div>
		</div>
	</div>
	<!-- Modal to delete reply -->
	<div class="modal fade" id="examppleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-dark">
			<h5 class="modal-title" id="exampleModalLongTitle">Confirm Deletion</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body text-dark">
				Are you sure you want to delete this reply? This action cannot be undone.
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
			<form action="{% url 'delete_reply' %}" id="deleteReplyForm" method="POST">
				{% csrf_token %}
				<input type="hidden" name="reply_id" id="replyId">
				<input type="hidden" name="post_id" value="{{ post.id }}">
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
			</div>
		</div>
		</div>
	</div>
<style>
	.lastEdit {
		position: absolute;
		top: 0;
		left: 0;
	}

	.popover-header {
        color: #000 !important; /* Dark color for the popover title */
    }
	@keyframes moveUp {
		from {
			top: -5px; /* Initial position */
		}
		to {
			top: -10px; /* Final position */
		}
	}

	#solution {
		position: absolute;
		background-color: lightgrey;
		top: -15px;
		left: 55%;
		border-radius: 30%;
	}

	#solution:hover .solvedBtn{
		background-color: darkgreen;
		top: -5px;
		animation: moveUp 0.3s ease forwards; /* Apply animation when hovered */
	}
	#solution:hover .toSolve {
		color: white;
		animation: moveUp 0.3s ease forwards; /* Apply animation when hovered */
	}

	.toSolve {
		color: green;
	}

	.solvedBtn {
		border-radius: 30%;
		position:relative;
		background-color: rgba(0, 128, 0, 0)
	}

	.solved {
		border-radius: 30%;
		position:relative;
	}

	#like-btn:hover, .reply-like-btn:hover {
		cursor: pointer;
		border: 1px solid black;
		padding: 1px;
	}
	.trash-btn {
		width: 25px;
		height: 25px;
		border: 2px solid #ff4d4d; /* Red border by default */
		background-color: transparent; /* Transparent background */
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease; /* Transition for all properties */
		right: 0;
		top: 0;
	  }
	  
	  .fa-thumbs-up {
		margin-bottom: 35px;
		margin-right: 12px;
	  }

	  .pstRplButtons {
		margin-right: 30px;
	  }

	  .trash-btn:hover {
		background-color: #ff4d4d; /* Red background on hover */
		border-color: #ff4d4d; /* Red border on hover */
	  }
  
	  .trash-btn:hover .trash-icon {
		color: white; /* White color for trash icon on hover */
	  }
	  
	  .trash-icon {
		font-size: 13px;
		color: #ff4d4d; /* Red color for trash icon by default */
		transition: color 0.3s ease; /* Transition for color property */
	  }

	#is_reply {
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: -15px;
	}

	#is_post {
		margin-bottom: -15px;
	}

	.publishReplyBtn1 {
		decorations: none;
	}
	.reply-content {
		word-wrap: break-word;
	}
	@media (min-width: 992px) { 
		#content1 {
			margin-left: 8px;
		}
	}
	#expandButton,
	#expandButton1,
	#expandButton2 {
		background-color: white;
		transition: background-color 0.4s;
		justify-content: center;
	}

	#expandButton:hover,
	#expandButton1:hover,
	#expandButton2:hover {
		background-color: lightgrey;
		cursor: pointer;
		justify-content: center;
	}

	#replyPst2 {
		display: none;
	}

	#expandButton2 {
		display: none;
	}

	#userRpl {
		display: none;
	}

	#replyPst {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.replybtn {
		background-color: #4CAF50;
		color: white;
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 3px;
		transition-duration: 0.4s;
		cursor: pointer;
		border: none;
		/* Initially no border */
	}

	.replybtn:hover {
		background-color: #45a049;
		border: 1px solid black;
		/* Border appears on hover */
	}

	.post-container {
		position: relative;
	}

	.position-absolute {
		position: absolute;
	}

	.bottom-0 {
		bottom: 0;
		margin-bottom: 30px;
	}

	.end-0 {
		right: 0;
	}

	.modal-content {
		color: #333;
	}

	@media (min-width: 876px) {
		#ctnr {
			padding-top: 50px;
			background-color: lightgrey;
			padding: 60px;
			min-height: 50vh;
		}
	}

	@media (max-width: 600px) {
		#ctnr {
			padding-top: 0px;
			background-color: lightgrey;
			padding: 0px;
		}
	}

	@media (min-width: 601px) {
		#ctnr {
			padding-top: 10px;
			background-color: lightgrey;
			padding: 10px;
		}
	}

	.forum-intro {
		background-color: #fcfbe7;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		text-align: center;
		font-family: Arial, sans-serif;
		margin-bottom: 20px;
	}

	.forum-intro h2 {
		color: #333;
	}

	.forum-intro p {
		color: #666;
		font-size: 16px;
	}

	/* styles.css */
	.container {
		background-color: #f9f9f9;
		border-radius: 10px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		padding: 20px;
	}

	.topic-list {
		list-style-type: none;
		padding-left: 0;
	}

	.topic-item {
		margin-bottom: 10px;
	}

	.topic-item:not(:last-child) {
		border-bottom: 1px solid #eee;
		padding-bottom: 10px;
	}

	@media (max-width: 991px) {
		#userCard {
			display: none;
		}

		#userCard2 {
			display: block;
			margin-top: 20px;
		}
	}

	@media (min-width: 992px) {
		#userCard {
			display: block;
		}

		#userCard2 {
			display: none;
		}
	}

	/* Styling for the post container */
	.post-container {
		background-color: #fff;
		padding: 30px;
		margin: 20px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		color: #333;
	}

	.no-comment {
		padding: 30px;
		margin: 20px;
	}

	/* Styling for the post title */
	.post-title {
		font-size: 2.5rem;
		margin-bottom: 20px;
		color: black;
		max-width: 100%;
    	word-wrap: break-word;
	}

	/* Styling for the post metadata */
	.post-meta {
		font-size: 0.9rem;
		color: #666;
	}

	/* Styling for the comment metadata */
	.comment-meta {
		font-size: 0.8rem;
		color: #888;
	}

	/* Styling for the author */
	.author {
		margin-bottom: 20px;
	}

	/* Styling for the post content */
	.post-content {
		font-size: 1.1rem;
		line-height: 1.8;
	}

	/* Styling for the comment list */
	.comment-list {
		padding-left: 0;
		margin-top: 10px;
		list-style: none;
	}

	/* Styling for each comment item */
	.comment-item {	
		margin-bottom: 25px;
	}

	.post-container p {
		margin-bottom: 15px;
	}

	.post-container h4 {
		margin-bottom: 10px;
	}

	.comments-title {
		font-size: 1.8rem;
		font-weight: bold;
		color: #555;
		margin-top: 50px;
		margin-bottom: 30px;
		font-family: 'monospace';
	}

	.lks {
		font-size: 0.9rem;
		font-style: italic;
	}

	#ppv {
		
	}
</style>
<script>
	let opened = false;

	function resolve(postId, replyId) {
        $.ajax({
            url: '{% url "update_post" %}',
            method: 'POST',  // or 'GET' depending on your view
            data: {
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: 'solved',
				post_id: postId,
                reply_id: replyId  // Pass the reply ID to your Django view
            },
            success: function(response) {
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

	function reply(entityType, entityId, replyContent, replyAuthor) {
		
		document.getElementById('userRpl').style.display = 'flex';
		document.getElementById('entityType').value = entityType;
		document.getElementById('entityId').value = entityId;

		if (entityType == 'reply') {
			document.getElementById('replyTo').innerHTML = replyAuthor;
			document.getElementById('replyContent').innerHTML = replyContent;
			document.getElementById('is_reply').style.display = 'flex';
			document.getElementById('is_post').style.display = 'none';
		} else if (entityType == 'specificReply') {
			document.getElementById('replyTo').innerHTML = replyAuthor;
			document.getElementById('replyContent').innerHTML = replyContent;
			document.getElementById('quote').value = replyContent;
			document.getElementById('is_reply').style.display = 'flex';
			document.getElementById('is_post').style.display = 'none';
		} else {
			document.getElementById('is_reply').style.display = 'none';
			document.getElementById('is_post').style.display = 'flex';
		}
	}
	function expand() {
		if (!opened) {
			document.getElementById('replyPst1').style.display = 'none';
			document.getElementById('replyPst2').style.display = 'flex';

			document.getElementById('expandButton1').style.display = 'none';
			document.getElementById('expandButton2').style.display = 'flex';
			opened = true;
		} else {
			document.getElementById('replyPst1').style.display = 'flex';
			document.getElementById('replyPst2').style.display = 'none';

			document.getElementById('expandButton1').style.display = 'flex';
			document.getElementById('expandButton2').style.display = 'none';
			opened = false;
		}

	}

	function undo() {
		document.getElementById('userRpl').style.display = 'none';
	}

	window.addEventListener("DOMContentLoaded", () => {
		const quoteAreas = document.querySelectorAll('.quoteArea');
		let popover = null; // Track the current popover
	
		// Function to handle text selection
		function handleSelection(event, replyId, replyAuthor) {
			const selectedText = window.getSelection().toString().trim();
			if (selectedText.length > 0) {
				if (!popover) {
					// If popover doesn't exist, create and display it
					const popoverContent = `<a id="ppv" class="btn  btn-primary py-0 px-1" href="#userRpl" onclick="reply('specificReply', '${replyId}', '${selectedText}', '${replyAuthor}')">Quote</a>`; // Example popover content
					popover = document.createElement('div');
					popover.classList.add('popover');
					popover.innerHTML = popoverContent;
					popover.style.position = 'absolute'; // Set position to fixed for screen-relative positioning
					popover.style.top = (event.clientY + window.scrollY - 60) + 'px'; // Adjusted top position to be 20px above the mouse
					popover.style.left = (event.clientX - 40) + 'px';
					document.body.appendChild(popover);

					document.getElementById('ppv').addEventListener('click', () => {
						document.getElementById('ppv').style.display = 'none';
					})
					// Attach click event listener to the popover to prevent propagation
					popover.addEventListener('click', function(event) {
						event.stopPropagation();
					});

					// Hide popover when user clicks outside
					setTimeout(() => {
						document.addEventListener('click', hidePopover);
					}, 0); // Delay adding the event listener to ensure it's added after the current event loop
				} else {
					// If popover exists, remove it
					hidePopover();
				}
			}
		}
		// Function to hide the popover
		function hidePopover(event) {
			if (event && popover && !popover.contains(event.target)) {
				popover.remove();
				popover = null;
				document.removeEventListener('click', hidePopover);
			}
		}
	
		// Loop through each quote area and attach event listener
		quoteAreas.forEach(quoteArea => {
			// Access the related reply.id and reply.author within the loop
			const replyId = quoteArea.dataset.replyId;
			const replyAuthor = quoteArea.dataset.replyAuthor;
			
			// Attach event listener with closure
			quoteArea.addEventListener('mouseup', function(event) {
				handleSelection(event, replyId, replyAuthor);
			});
		});
	});

	jQuery(document).ready(function() {
		$('.btn-success').popover({
			trigger: 'hover' // This line sets the trigger to hover
		});

		$('#like-btn').popover({
			trigger: 'manual', 
			placement: 'top' 
		});

		$('.reply-like-btn').popover({
			trigger: 'manual', 
			placement: 'top' 
		});

		// AJAX request for liking a post
		$('#like-btn').click(function(e) {
			e.preventDefault(); 
			var postId = $(this).data('post-id');
			var $likeBtn = $(this);

			$.ajax({
				type: 'POST',
				url: '/post_like/' + postId + '/',
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				success: function(response) {
					if (response.success) {
						$likeBtn.removeClass('far').addClass('fas').css('color', '#007bff');
						// Change popover content to 'Thanks'
						$likeBtn.attr('data-content', 'Thanks');
						// Show popover
						$likeBtn.popover('show');
						// Hide popover after a delay
						setTimeout(function() {
							$likeBtn.popover('hide');
						}, 2000);

						// Update the number of likes on the page
						var currentLikes = parseInt($('.likes-updated a').text().split(' ')[0]);
						var newLikes = currentLikes + 1;
						$('.likes-updated a').text(newLikes + ' Likes ');
					} 
				},
				error: function(xhr, status, error) {
					alert('An error occurred while processing your request.');
					console.error(xhr.responseText);
				}
			});
		});

		// AJAX request for liking a reply
		$('.reply-like-btn').click(function(e) {
			e.preventDefault(); 
			var replyId = $(this).data('reply-id');
			var $likeBtn = $(this);

			$.ajax({
				type: 'POST',
				url: '/reply_like/' + replyId + '/',
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				success: function(response) {
					if (response.success) {
						$likeBtn.removeClass('far').addClass('fas').css('color', '#007bff');
						// Change popover content to 'Thanks'
						$likeBtn.attr('data-content', 'Thanks');
						// Show popover
						$likeBtn.popover('show');
						// Hide popover after a delay
						setTimeout(function() {
							$likeBtn.popover('hide');
						}, 2000);

						// Update the number of likes for this specific reply
						var currentLikes = parseInt($likeBtn.siblings('.lksToTarget').find('a').text().split(' ')[0]);
						var newLikes = currentLikes + 1;
						$likeBtn.siblings('.lksToTarget').find('a').text(newLikes + ' Likes ');
					} 
				},
				error: function(xhr, status, error) {
					alert('An error occurred while processing your request.');
					console.error(xhr.responseText);
				}
			});
		});

		$('#like-btn').mouseenter(function() {
			$(this).popover('show');
		});

		$('#like-btn').mouseleave(function() {
			$(this).popover('hide');	
		});

		$('.reply-like-btn').mouseenter(function() {
			$(this).popover('show');
		});

		$('.reply-like-btn').mouseleave(function() {
			$(this).popover('hide');
		});

		$('.trash-btn').click(function() {
			console.log('Are you sure you want to delete this item? This action cannot be undone.');
			var replyId = $(this).data('reply-id');
			console.log(replyId);
			$('#replyId').val(replyId);
		});
	});
</script>
{% endblock %}