{% extends "master.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 p-3 mb-2 bg-light text-dark rounded">
			<h1>{{ post.title }}</h1><span class="font-italic">publish date: {{ post.date_posted }}</span>
			<br><br><h4>Author: <b>{{ post.author }}</b></h4>
            <p>{{ post.content  }}</p>
			<p><strong>Related comments:</strong></p>
			<ul>
				{% for comment in comments %}
				<li>{{ comment.content }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}