{% extends "master.html" %}
{% load static %}

{% block back %}
    <a href="#" onclick="history.back();" class="btn btn-outline-secondary ml-2">Back</a>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Section for My Threads -->
    <div class="section">
        <h1 class="section-title">My Threads</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-cog settings-icon float-right" onclick="settings('{{ post.id }}', '{{ post.title }}', '{{ post.content }}')" title="Settings"></i>
                                <a href="{% url 'detail' post.id %}" class="card-title text-primary" style="text-decoration: none;">{{ post.title }}</a>
                                <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                                {% if post.state == 'Open' %}
                                    <span class="badge badge-success">Opened</span>
                                {% else %}
                                    <span class="badge badge-warning">Solved</span>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-light">{{ post.total_replies }} replies • {{ post.total_likes }} likes • {{ post.views }} views • Published {{ post.pub_date|timesince }} ago</small>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Section for My Replied Threads -->
    <div class="section">
        <h1 class="section-title">Replied Threads</h1>
        <div class="row">
            {% for replied_post in replied_posts %}
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'detail' replied_post.id %}" class="card-title text-primary" style="text-decoration: none;">{{ replied_post.title }}</a>
                                <p class="card-text">{{ replied_post.content|truncatechars:100 }}</p>
                                {% if replied_post.state == 'Open' %}
                                    <span class="badge badge-success">Opened</span>
                                {% else %}
                                    <span class="badge badge-warning">Solved</span>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-light">{{ replied_post.total_replies }} replies • {{ replied_post.total_likes }} likes • {{ replied_post.views }} views • Started by <b>{{ replied_post.author }}</b> • {{ replied_post.pub_date|timesince }} ago</small>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="settingsModalLabel">Post Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-dark" id="postTitle"></h5>
                        <p class="text-dark" id="postContent"></p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger mb-2" onclick="deletePost()">Delete Post</button>
                            <!-- Edit Post buttons with icons -->
                            <div class="mb-2">
                                <button type="button" class="btn btn-info btn-sm mr-2" onclick="editTitle()">
                                    <i class="fas fa-edit"></i> Edit Title
                                </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info btn-sm mr-2" onclick="editContent()">
                                    <i class="fas fa-edit"></i> Edit Content
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


    <style>
        .settings-icon:hover {
            cursor: pointer;
            color: grey;
        }

        body {
            background-color: #222;
            color: #eee;
        }

        .section {
            margin-bottom: 40px;
        }

        .section-title {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .card {
            background-color: #333;
            color: #eee;
            border: 1px solid #444;
            border-radius: 8px;
            transition: all 0.3s ease;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .card:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }

        .card-title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .badge {
            margin-right: 5px;
        }

        .card-footer {
            background-color: #444;
            border-top: 1px solid #555;
            border-radius: 0 0 8px 8px;
            padding: 10px 15px;
        }

        .card-footer small {
            font-size: 14px;
            color: #ccc; /* Light grey color */
        }

        .post-link {
            text-decoration: none;
            color: inherit;
        }
    </style>
    <script>
        function settings(postId, postTitle, postContent) {
            $('#postTitle').text(postTitle); // Populate post title
            $('#postContent').text(postContent); // Populate post content
            $('#settingsModal').modal('show'); // Show the modal dialog box
        }
    </script>
{% endblock %}
