{% extends "master.html" %}
{% load static %}

{% block back %}
    <a href="#" onclick="history.back();" class="btn btn-outline-secondary ml-2">Back</a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 mb-4">My Discussions</h1>
            </div>
        </div>
        <div class="row">
            {% for replied_post in replied_posts %}
                <div class="col-12 col-sm-12 col-md-6 my-2">
                    <a href="{% url 'detail' replied_post.id %}" style="text-decoration: none;">
                        <div class="card mb-4 border-0 shadow h-100">
                            <div class="card-body">
                                <h4 class="card-title text-primary">{{ replied_post.title }}</h4>
                                {% if replied_post.state == 'Open' %}
                                    <span class="badge badge-success float-left">Opened</span><br>
                                {% else %}
                                    <span class="badge badge-warning float-left">Solved</span><br>
                                {% endif %}
                                <p class="card-text text-dark mt-3">{{ replied_post.content|truncatechars:50 }}</p>
                            </div>
                            <!-- Further details about the post: total replies, likes, views, and state of the topic: open or close (green or white circle) -->
                            <div class="card-footer bg-transparent border-top-0 text-muted">
                            
                            </div>
                            <!-- Started by the author and the time since the post was created -->
                            <div class="card-footer bg-transparent border-top-0 text-muted" style="position: relative;">
                            <small>{{ replied_post.total_replies }} replies • {{ replied_post.total_likes }} likes • {{ replied_post.views }} views</small><br>
                                <small>Started by <b class="font-italic">{{ replied_post.author }}</b> • {{ replied_post.pub_date|timesince }} ago</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .card {
            border-radius: 15px;
            transition: transform 0.3s;
            position: relative;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .jumbotron {
            background: linear-gradient(135deg, #2E8B57, #3CB371);
            color: #fff;
            padding: 40px 20px;
            border-radius: 15px;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}
