{% extends "master.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container-fluid ctnr1">
    <div class="row">
        <!-- Highlights Section -->
        <div class="col-md-3 mb-3">
            <div class="p-3 bg-light text-dark d-flex flex-column h-100" id="overflow">
                <h3 id="highlights">
                    Members
                </h3>
                <!-- Members -->
                <table class="table table-hover border-bottom border-dark mb-5">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center font-italic">
                            {{ members.count }} total 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                        <td class="text-center">{{ member.user.username }}<span class="text-muted font-italic"> - {{ member.grade }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- General Informations -->
        <div class="col-md-6 mb-3">
            <div class="p-3 bg-light text-dark">
                <div class="forum-intro">
                    <h2>Welcome to our vibrant community!</h2>
                    <p>Whether you're a seasoned developer, a visionary designer, a creative soul, or simply someone
                        who's passionate about the ever-evolving world of technology, you've arrived at the perfect
                        destination. Here, amidst the digital tapestry of our forum, connections are forged, ideas
                        take flight, and innovation finds its voice.</p>
                    <p>Within these virtual walls, curiosity reigns supreme. Feel free to wander through our
                        corridors of knowledge, pose your burning questions, and bask in the collective wisdom of
                        our diverse members. Remember, this is a sanctuary of learning and collaboration, where
                        mutual respect and camaraderie guide our interactions.</p>
                    <p>So, whether you're here to seek guidance, share your expertise, or simply soak in the
                        electrifying atmosphere of camaraderie, know that you've found your tribe. Together, let's
                        embark on a journey of exploration, enlightenment, and boundless possibility. Welcome, dear
                        friend, to our digital oasis.</p>
                </div>
                <div class="container-fluid">
                    <h3 class="header text-center mb-3">Latest topics</h3>
                    <div class="card-columns">
                        {% if latest_posts.count == 0 %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text text-muted">No topics yet</p>
                            </div>
                        </div>
                        {% else %}
                        {% for post in latest_posts %}
                        <a href="{% url 'detail' id=post.id %}" class="card-link">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text text-muted">{{ post.pub_date|custom_timesince }} by <b><i>{{ post.author }}</i></b></p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="p-3 bg-light text-dark d-flex flex-column h-100">
                <h5 class="font-italic">
                    <b>Most quoted topics</b>
                </h5>
                {% if most_quoted|length == 0 %}
                <p class="text-muted">No topics yet</p>
                {% else %}
                <ul class="list-group">
                    {% for topic in most_quoted %}
                    <span class="border-bottom">
                    <li class="list-group-item">
                        <a href="{% url 'detail' id=topic.id %}">{{ topic.title }}</a><span class="text-muted font-italic"> | {{ topic.total_likes }} likes</span>
                    </li>
                </span>
                    {% endfor %}
                </ul>
                {% endif %}
                <h5 class="font-italic mt-5">
                    <b>Most active users</b>
                </h5>
                {% if most_active|length == 0 %}
                <p class="text-muted">No users yet</p>
                {% else %}
                <ul class="list-group">
                    {% for user in most_active %}
                    <span class="border-bottom"><li class="list-group-item">&#9733 {{ user.user.username }}<span class="text-muted font-italic"> - {{ user.replies }} Total replies</span></li></span>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
    </div>
</div>
<style>
    html {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #highlights {
        display: flex;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: monospace;
        padding: 5px;
        text-align: center;
        justify-content: center;
        border: 1px solid lightgrey;
        background-color: antiquewhite;
    }
    
    .row [class^="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .header {
        color: #4CAF50;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        text-shadow: 1px 1px 2px #ddd;
    }

    .ctnr1 {
		background-color: lightgrey;
        padding: 20px;
	}
    #overflow {
        overflow-y: auto;
    }
    .list-group-item {
        background-color: #f8f9fa;
        border: none;
        border-radius: 0;
    }
    .list-group-item:hover {
        background-color: #e9ecef;
    }
    .card-columns {
        column-count: 1;
    }
    
    .card {
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    
    .card-title {
        color: #333;
    }
    
    .card-text {
        font-size: 14px;
    }
    .card-link {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit text color */
    }
    
    .card-link:hover .card {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}