{% extends "master.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 p-3 mb-2 bg-light text-dark rounded">
            <div id="hl">
                <h3 id="highlights">
                    Highlights
                </h3>
            </div>
			<h5>
				Most viewed topics
            </h5>
			<ol>
				<li class="list-item">
					Lorem ipsum dolor sit amet
				</li>
				<li class="list-item">
					Consectetur adipiscing elit
				</li>
				<li class="list-item">
					Integer molestie lorem at massa
				</li>
				<li class="list-item">
					Facilisis in pretium nisl aliquet
				</li>
			</ol>
		</div>
		<div class="col-md-9">
			<h1 class="font-weight-light">
				Open a new topic
			</h1>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
			<div class="row">
				<div class="col-md-12">
                    <form action="#" method="POST">
                        <div class="form-group">
                          <label for="topic">Title:</label>
                          <input type="text" class="form-control" id="topic" name="topic" required>
                        </div>
                        <div class="form-group">
                          <label for="post_content">Content:</label>
                          <textarea class="form-control" id="post_content" name="post_content" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}