{% extends "master.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 p-3 mb-2 bg-light text-dark rounded">
            <div id="hl">
                <h3 id="highlights">
                    Highlights
                </h3>
            </div>
			<h5>
				Most viewed topics
            </h5>
			<ol>
				<li class="list-item">
					Lorem ipsum dolor sit amet
				</li>
				<li class="list-item">
					Consectetur adipiscing elit
				</li>
				<li class="list-item">
					Integer molestie lorem at massa
				</li>
				<li class="list-item">
					Facilisis in pretium nisl aliquet
				</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}