{% extends "master.html" %}
{% load static %}
{% load custom_filters %}

{% block back %}
<a href="#" onclick="history.back();" class="btn btn-outline-light ml-2">Back</a>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
<div class="container otherProf">
    <div class="userHeader">
        <img src="../{{ member.avatar }}" alt="Profile Picture" class="avatar">
        <div class="userInfo">
            <h3>{{ member.user.username }}</h3>
            <small class="text-muted font-italic">{{member.grade}}</small><br>
            <small class="text-muted font-italic">Joined {{member.user.date_joined|custom_timesince}}</small><br>
            {% if user_authenticated %}
            {% if is_following %}
                <form action="{% url 'unfollow_user' member.user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm mt-1 py-0">Unfollow</button>
                </form>
            {% else %}
                <form action="{% url 'follow_user' member.user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm mt-1 py-0">Follow</button>
                </form>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="border-bottom mb-3">
        <!-- Button trigger modal for followers -->
        <button type="button" class="custom-button btn-sm" data-toggle="modal" data-target="#followersModal">
            Followers <span class="badge badge-light">{{ total_followers }}</span>
        </button>
        
        <!-- Modal to display user's followers -->
        <div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="exampleModalLongTitle">Followers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% if followers %}
                                {% for follower in followers %}
                                    <li class="text-dark"><a href="{% url 'member' profile_id=follower.id %}">{{ follower.username }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li class="text-muted font-italic">This user does not have any followers yet.</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Button trigger modal for following -->
        <button type="button" class="custom-button btn-sm" data-toggle="modal" data-target="#followingModal">
            Following <span class="badge badge-light">{{ total_following }}</span>
        </button>

        <!-- Modal to display user's followings -->
        <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="exampleModalLongTitle">Following</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% if following %}
                                {% for user in following %}
                                    <li class="text-dark"><a href="{% url 'member' profile_id=user.id %}">{{ user.username }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li class="text-muted font-italic">This user does not have any following yet.</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="profile-block">
        <div class="profile-header" onclick="toggleProfile('profileInterests', 'interestsArrow')">
            <h2>Interests <i id="interestsArrow" class="fas fa-chevron-down"></i></h2>
        </div>
        <div class="profile-content" id="profileInterests">
            <ul>
                {%  if member.interests %}
                        <li class="text-dark">{{ member.interests  }}</li>
                {% else %} 
                    <li class="font-italic text-muted text-dark">This member has not set any interest yet.</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="profile-block">
        <div class="profile-header" onclick="toggleProfile('profileContent', 'postsArrow')">
            <h2>Published Posts <i id="postsArrow" class="fas fa-chevron-down"></i></h2>
        </div>
        <div class="profile-content" id="profileContent">
            {% if member.post_set.all %}
                {% for post in member.post_set.all %}
                    <div class="post">
                        <h3 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h3>
                        <p class="post-meta">Published on {{ post.pub_date }}</p>
                        <div class="post-content text-dark">
                            {{ post.content|truncatewords:80 | safe }}
                        </div>
                        <div class="post-details">
                            <ul class="post-details-list">
                                <li><i class="fas fa-heart"></i> {{ post.total_likes }}</li>
                                <li><i class="fas fa-comments"></i> {{ post.total_replies }}</li>
                                <li><i class="fas fa-eye"></i> {{ post.views }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="font-italic text-muted text-dark">No posts published by this member yet.</p>
            {% endif %}
        </div>
    </div>
    <div class="profile-block">
        <div class="profile-header" onclick="toggleProfile('repliesContent', 'repliesArrow')">
            <h2>Replies <i id="repliesArrow" class="fas fa-chevron-down"></i></h2>
        </div>
        <div class="profile-content" id="repliesContent">
            {% if member.reply_set.all %}
                {% for reply in member.reply_set.all %}
                    <div class="reply">
                        <div class="reply-header">
                            <i class="fas fa-reply reply-icon"></i>
                            <p class="reply-meta">To: <a href="{% url 'detail' id=reply.post.id %}">{{ reply.post.title }}</a></p>
                        </div>
                        <div class="reply-content">
                            <p class="text-dark">{{ reply.content }}</p>
                        </div>
                        <div class="reply-info">
                            <p class="reply-date">Reply Date: {{ reply.reply_date }}</p>
                            <p class="reply-likes"><i class="fas fa-heart"></i> {{ reply.likes }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="font-italic text-muted text-dark">This member has not replied to any post yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/member.css' %}">
{% endblock %}
<script>
    function toggleProfile(contentId, arrowIconId) {
        var content = document.getElementById(contentId);
        var arrowIcon = document.getElementById(arrowIconId);
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            arrowIcon.classList.remove("fa-chevron-down");
            arrowIcon.classList.add("fa-chevron-up");
        } else {
            content.style.display = "none";
            arrowIcon.classList.remove("fa-chevron-up");
            arrowIcon.classList.add("fa-chevron-down");
        }
    }
</script>
{% endblock %}
