{% extends "master.html" %}
{% load static %}

{% block back %}
    <a href="#" onclick="history.back();" class="btn btn-outline-dark ml-2">Back</a>
{% endblock %}

{% block content %}
    <style>
        /* Custom styles */
        .user-profile-container {
            padding: 20px;
        }

        .user-profile-card {
            background-color: #ffffff; /* White background */
            color: #000000; /* Black text color */
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .user-profile-header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .user-profile-header h1 {
            font-size: 28px;
            margin-bottom: 0;
        }

        .user-profile-info {
            padding: 20px;
        }

        .info-item {
            margin-bottom: 20px;
        }

        .info-item span {
            font-weight: bold;
            color: #555555;
        }

        @media screen and (min-width: 576px) {
            .user-profile-card {
                margin: 0 auto;
                max-width: 500px;
            }
        }

        @media screen and (min-width: 768px) {
            .user-profile-card {
                max-width: 700px;
            }
        }

        @media screen and (min-width: 992px) {
            .user-profile-card {
                max-width: 900px;
            }
        }

        @media screen and (min-width: 1200px) {
            .user-profile-card {
                max-width: 1100px;
            }
        }

        /* Adjust email text size for small screens */
        @media screen and (max-width: 340px) {
            .info-item.email .value {
                font-size: 14px;
            }
        }
    </style>

    <div class="container user-profile-container">
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="user-profile-card">
                <div class="user-profile-header">
                    <h1>Personal Area</h1>
                </div>
                <div class="user-profile-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <span>Username:</span>
                                <span class="value">{{ user_profile.user.username }}</span>
                            </div>
                            <div class="info-item email">
                                <span>Email:</span>
                                <span class="value">{{ user_profile.email }}</span>
                            </div>
                            <div class="info-item">
                                <span>Join date:</span>
                                <span class="value">{{ user_profile.user.date_joined }}</span>
                            </div>
                            <div class="info-item">
                                <span>Grade:</span>
                                <span class="value">{{ user_profile.grade }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <span>Total Topics:</span>
                                <span class="value">{{ user_profile.total_posts }}</span>
                            </div>
                            <div class="info-item">
                                <span>Total Replies:</span>
                                <span class="value">{{ user_profile.replies }}</span>
                            </div>
                            <div class="info-item">
                                <span>Followers:</span>
                                <span class="value">{{ user_profile.followers }}</span>
                            </div>
                            <div class="info-item">
                                <span>Followees:</span>
                                <span class="value">{{ user_profile.following }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
