{% extends "master.html" %}
{% load static %}

{% block back %}
    <a href="#" onclick="history.back();" class="btn btn-outline-light ml-2">Back</a>
{% endblock %}

{% block content %}
    <style>
        /* Custom styles */
        .user-profile-container {
            padding: 20px;
            background-color: #f2f2f2;
        }

        .user-profile-card {
            background-color: #ffffff;
            color: #333333;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center; /* Center align content */
        }

        .user-profile-header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .user-profile-info {
            padding: 20px;
            margin-bottom: 30px;
        }

        .info-item {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

        .info-item span {
            color: #555555;
            flex: 1;
        }

        .value {
            font-size: 16px;
            flex: 2;
        }

        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .additional-info-container {
            margin-top: 30px;
        }

        .additional-info-header {
            background-color: #007bff;
            color: white;
            padding: 12px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .additional-info-header:hover {
            background-color: #0056b3;
        }

        .additional-info-body {
            background-color: #ffffff;
            padding: 15px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .additional-info-body .row {
            margin-bottom: 10px;
        }

        .additional-info-body span {
            font-size: 14px;
            color: #333333;
        }

        /* Style the collapse button */
        .collapse-btn {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }

        .collapse-btn:hover {
            text-decoration: underline;
        }
    
        .topic-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
        }

        .topic-card:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .topic-info {
            list-style-type: none;
            padding: 0;
        }

        .topic-info li {
            margin-bottom: 5px;
        }

        .topic-info li i {
            margin-right: 5px;
        }
    </style>

    <div class="container user-profile-container">
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="user-profile-card">
                <div class="user-profile-header">
                    Personal Area
                </div>
                <img src="../{{ user_profile.avatar }}" alt="Profile Picture" class="avatar">
                <div class="user-profile-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-item">
                                <span><b>Username:</b></span>
                                <span class="value">{{ user_profile.user.username }}</span>
                            </div>
                            <div class="info-item email">
                                <span><b>Email:</b></span>
                                <span class="value">{{ user_profile.email }}</span>
                            </div>
                            <div class="info-item">
                                <span><b>Join Date:</b></span>
                                <span class="value">{{ user_profile.user.date_joined|date:"d/m/Y" }}</span>
                            </div>
                            <div class="info-item">
                                <span><b>Grade:</b></span>
                                <span class="value">{{ user_profile.grade }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-item">
                                <span><b>Opened Topics:</b></span>
                                <span class="value">{{ user_profile.total_posts }}</span>
                            </div>
                            <div class="info-item">
                                <span><b>Total Replies:</b></span>
                                <span class="value">{{ user_profile.replies }}</span>
                            </div>
                            <div class="info-item">
                                <span><b>Followers:</b></span>
                                <span class="value">{{ user_profile.followers }}</span>
                            </div>
                            <div class="info-item">
                                <span><b>Followees:</b></span>
                                <span class="value">{{ user_profile.following }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional informations -->
                <!-- Collapsible elements -->
                <!-- Interests -->
                <div class="additional-info-header" data-toggle="collapse" data-target="#interestsCollapse" aria-expanded="true" aria-controls="interestsCollapse">
                    <span class="collapse-btn">Interests</span>
                    <span class="fas fa-chevron-down"></span> <!-- Added a down chevron icon -->
                </div>
                <div id="interestsCollapse" class="collapse mb-3">
                    <div class="additional-info-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if user_profile.interests|length > 0 %}
                                <span>{{ user_profile.interests }}</span>
                                {% else %}
                                <span class="text-muted font-italic">You haven't set up a description yet.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- My Topics -->
                <div class="additional-info-header" data-toggle="collapse" data-target="#openedTopics" aria-expanded="true" aria-controls="openedTopics">
                    <span class="collapse-btn">My Topics</span>
                    <span class="fas fa-chevron-down"></span>
                </div>
                <div id="openedTopics" class="collapse mb-3">
                    <div class="additional-info-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if posts %}
                                    {% for post in posts %}
                                        <div class="card topic-card mb-3" onclick="redirectToPostDetail('{% url 'detail' post.id %}')">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h5 class="card-title"><b>{{ post.title }}</b></h5>
                                                        <p class="card-text">{{ post.content|truncatechars:20 }}</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Posted on {{ post.pub_date }}</small>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="topic-info">
                                                            <li><i class="fas fa-comments"></i> Replies: {{ post.total_replies }}</li>
                                                            <li><i class="fas fa-thumbs-up"></i> Likes: {{ post.total_likes }}</li>
                                                            <li style="color: {% if post.state == 'Open' %}green{% else %}orange{% endif %};"><i class="fas fa-circle"></i> {% if post.state == 'Open' %}Opened{% else %}Solved{% endif %}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                <span class="text-muted font-italic">No topics published yet.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Liked Topics -->
                <div class="additional-info-header" data-toggle="collapse" data-target="#likedTopics" aria-expanded="true" aria-controls="likedTopics">
                    <span class="collapse-btn">Liked Topics</span>
                    <span class="fas fa-chevron-down"></span>
                </div>
                <div id="likedTopics" class="collapse mb-3">
                    <div class="additional-info-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if liked_posts %}
                                    {% for post in liked_posts %}
                                        <div class="card topic-card mb-3" onclick="redirectToTopicDetail('{% url 'detail' post.post.id %}')">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h5 class="card-title"><b>{{ post.post.title }}</b></h5>
                                                        <p class="card-text">{{ post.post.content|truncatechars:20 }}</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Liked on {{ post.like_date }}</small>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="topic-info">
                                                            <li><i class="fas fa-user"></i> Author: {{ post.post.author }}</li>
                                                            <li><i class="fas fa-comments"></i> Replies: {{ post.post.total_replies }}</li>
                                                            <li><i class="fas fa-thumbs-up"></i> Likes: {{ post.post.total_likes }}</li>
                                                            <li style="color: {% if post.post.state == 'Open' %}green{% else %}orange{% endif %};"><i class="fas fa-circle"></i> {% if post.post.state == 'Open' %}Opened{% else %}Closed{% endif %}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <span class="text-muted font-italic">No liked topics yet.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        function redirectToPostDetail(url) {
            window.location.href = url;
        }
        
        window.addEventListener("DOMContentLoaded", () => {
            var interestsBtn = document.querySelector("[data-target='#interestsCollapse']");
            var topicsBtn = document.querySelector("[data-target='#openedTopics']");
            var likedTopicsBtn = document.querySelector("[data-target='#likedTopics']");

            interestsBtn.addEventListener("click", toggleArrow);
            topicsBtn.addEventListener("click", toggleArrow);
            likedTopicsBtn.addEventListener("click", toggleArrow);

            function toggleArrow() {
                var icon = this.querySelector("span.fas");
                if (icon.classList.contains("fa-chevron-down")) {
                    icon.classList.remove("fa-chevron-down");
                    icon.classList.add("fa-chevron-up");
                } else {
                    icon.classList.remove("fa-chevron-up");
                    icon.classList.add("fa-chevron-down");
                }
            }
        });
    </script>
{% endblock %}
