{% extends "master.html" %}
{% load static %}

{% block back %}
    <a href="#" onclick="history.back();" class="btn btn-outline-light ml-2">Back</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center text-dark">Sign In Required</h2>
                        <p class="card-text text-center text-dark">You need to sign in to perform the desired operation.</p>
                        <div class="text-center">
                            <a href="{% url 'signin' %}" class="btn btn-primary">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/required_signin.css' %}">
{% endblock %}
{% endblock %}

