{% extends "master.html" %}
{% load static %}

{% block content %}

<!-- Sign up success page -->
<div class="container text-dark">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Welcome, {{ user.username }}!</h3>
                </div>
                <div class="card-body">
                    <p>Great news! You're now part of our community. Let's get started! Explore our <a href="{% url 'index' %}">Home</a> and discover everything waiting for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}